body {
    margin: 0;
    padding: 0;
    color: #2D2C2A;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    border: 1px solid black;
    margin: 0%;
    padding: 0%;
}

section.main {
    border: 1px solid black;
    max-width: 80vw;
    margin: 0 auto;
}

#header .headerText,
#header .subHeaderText {
    margin: 10px;
}

#header .headerText {
    font-size: 2.5rem;
    font-weight: bold;
}

#header .subHeaderText {
    font-size: 1.2rem;
    font-weight: 400;
}