// BRANDING

    // font-stack
    $font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    // font-colors
    $font-color-white: #DCDBDB;

    // font-sizes
    $header-font: 8em;
    $subheader-font: 5em;
    $sub-subheader-font: 2em;
    $main-font: 1.5em;
    $small-font: 0.7em;

    // background-colors
    $orage: #F25937;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: $font-stack;
    font-size: $main-font;
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: $header-font;
    line-height: 0.73em;
    letter-spacing: -20px;
}

img {
    object-fit:cover;
    height: 100%;
    width: 100%;
}

header {
    background-color: $orage;
    color: $font-color-white;
    display: flex;
    padding: 5em 5em;
    flex-direction: column;
    // vertical alignment
    justify-content: center;
    
    div, p {
        padding: 0 20px;
        margin: 0;
    }
}

main {
    height: 100%;
    overflow: hidden;

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 50%;

        div {
            overflow: hidden;
        }
    }
}

button {
    color: $font-color-white;
    background-color: #000;
    padding: 1rem;
    border: none;
}

// utility
.bold-font {
    font-weight: bold;
}

.small-font {
    font-size: $small-font;
}

.sub-header-font {
    font-size: $subheader-font;
}

.sub-subheader-font {
    font-size: $sub-subheader-font;
}

// bottom margins
.margin-bottom-small {
    margin-bottom: 1rem;
}

.margin-bottom-medium {
    margin-bottom: 3rem;
}

.margin-bottom-large {
    margin-bottom: 5rem;
}