[MONITOR_DIR]
paths=/c/Users/lenovo/Documents/Design-Workplace,/c/Users/lenovo/Documents/Medium Articles,/c/Users/lenovo/Documents/OneNote Notebooks

[ARCHIVE_DESTINATION]
path=/c/Users/lenovo/Documents/ARCHIVE

[EMAIL]
host=localhost
port=1025
sender=sender@localhost.com

[NOTIFICATION_RECEPIENTS]
recepients=recepient@localhost.com
