// :host selector is an Angular unique CSS Selector.
//  It targets HTML elements hosting our component.
//  which, on this case the app-weather.
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
}

mat-form-field {
  width: 40%;
}

mat-icon {
  cursor: pointer;
}

mat-card {
  margin-top: 30px;
  width: 250px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

@media screen and (min-device-width: 375px) {
  mat-form-field {
    width: 80%;
  }
}
