<h1>Angular Router Sample</h1>

<nav>
  <!--
       routerLink is an Angular directive that makes this
       button navigate to the specified route.

       routerLinkAcive directive applies the given CSS class
       when the route is active.
   -->
  <a class="button" routerLink="/crisis-list" routerLinkActive="activebutton">Crisis Center</a> |
  <a class="button" routerLink="/heroes-list" routerLinkActive="activebutton">Heroes</a>
</nav>

<!-- these are the components we created -->
<app-crisis-list></app-crisis-list>
<app-heroes-list></app-heroes-list>

<!--
  <router-outlet> acts as a placeholder that Angular
  dynamically fills based on the current router state.
-->
<router-outlet></router-outlet>
